---
Title: Cake.Gem
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        Cake.Gem is an Addin for <a href="http://cakebuild.net/">Cake</a> which which allows the execution of the gem command line tool.
    </p>
</div>